* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: var(--main-text-color);
  font-family: 'Cormorant Garamond', serif;
  font-size: 14.4pt;
}

#blue-theme {
  --main-text-color: #D6DBDF;
  --left-section-background-color: #00204A;
  --profile-contact-and-skills-border-color: #4B6982;
  --name-color: #D6DBDF;
  --profession-color: #FDB44B;
  --contact-and-skills-title-color: #FDB44B;
  --right-section-background-color: #4B6982;
  --right-section-title-color: #70C6C7;
  --local-and-info-color: #FDB44B;
  --description-border-color: #A5A3A3;
}

#rose-theme {
  --main-text-color: #000000;  
  --left-section-background-color: #FFDEAD;
  --profile-contact-and-skills-border-color: #FFF8DC;
  --name-color: #A0522D;
  --profession-color: #000000;
  --contact-and-skills-title-color: #7b2d08;
  --right-section-background-color: #FFF8DC;
  --right-section-title-color: #A0522D;
  --local-and-info-color: #000000;
  --description-border-color: #A0522D;
}

.resume {
  width: 832px;
  height: 1570px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 231.2px 1fr;
}

.left-section {
  height: 100%;
  width: 100%;
  background-color: var(--left-section-background-color);
}

.profile {
  text-align: center;
  height: 326.4px;
  border-bottom: var(--profile-contact-and-skills-border-color) solid 3px;
}

.profile-picture {
  height: 120px;
  width: 120px;
  object-fit: scale-down;
  margin-top: 30.4px;
  border-radius: 50%;
  border: var(--profile-contact-and-skills-border-color) solid 3px;
}

.name {
  margin-top: 16px;
  font-size: 25.6pt;
  color: var(--name-color);
}

.profession {
  margin-top: 19.2px;
  font-size: 15.2pt;
  color: var(--profession-color);
}

.contact-info-box {
  height: 184px;
  border-bottom: var(--profile-contact-and-skills-border-color) solid 3px;
}

.skills-box {
  height: 290px;
  border-bottom: var(--profile-contact-and-skills-border-color) solid 3px;
}

.contact-info, .skills {
  margin-left: 11.2px;
}

.contact-info-title, .skills-title {
  margin-top: 38.4px;
  margin-bottom: 16px;
  font-size: 16.8pt;
  color: var(--contact-and-skills-title-color);
}

.contact-info-text, .skills-text {
  margin-top: 11.2px;
  display: flex;
  text-align: start;
}

.icon {
  max-height: 20px;
  max-width: 20px;
  object-fit: scale-down;
  margin-right: 8px;
}

.right-section {
  height: 100%;
  width: 100%;
  background-color: var(--right-section-background-color);
  border-top-right-radius: 48px;
}

.about-me-text {
  text-align: justify;
  margin-bottom: 26px;
}

.about-me, .experience, .formation, .extra-training, .more-info {
  margin-left: 25.6px;
  margin-right: 27.2px;
}

.about-me-title, .experience-title, .formation-title, .extra-training-title, .more-info-title {
  margin-top: 48px;
  margin-bottom: 20px;
  font-size: 32pt;
  color: var(--right-section-title-color);
}

.experience-columns, .formation-columns, .extra-training-columns, .more-info-columns {
  display: grid;
  grid-template-columns: 290px 1fr;
}

.experience-local, .formation-local, .extra-training-local, .more-info-local {
  font-size: 20pt;
  margin-right: 32px;
  color: var(--local-and-info-color);
}

.experience-info, .formation-info, .extra-training-info, .more-info-info {
  font-size: 20pt;
  color: var(--local-and-info-color);
}

.experience-date, .formation-date, .extra-training-date, .more-info-date {
  margin-top: 8px;
}

.experience-description-box, .formation-description-box, .extra-training-description-box, .more-info-description-box {
  border-left: var(--description-border-color) 3px solid;
  margin-top: 6.4px;
  margin-bottom: 6.4px;
}

.experience-description-text, .formation-description-text, .extra-training-description-text, .more-info-description-text {
  margin-left: 6.4px;
  margin-top: 10px;
  font-size: 12.8pt;
  margin-bottom: 26px;
}